@use '../abstracts/mixins'

.news
  display: flex
  flex-direction: column
  padding: 100px 0 0
  gap: 30px
  h2
    @include mixins.font(80px, 500, 1)
    margin: 0

.news-grid
  display: grid
  grid-template-columns: repeat(3, minmax(200px, 400px))
  column-gap: 13px
  row-gap: 50px
  grid-auto-flow: row

.news-article
  display: flex
  flex-direction: column
  gap: 10px
  max-width: 400px
  h3
    @include mixins.font(16px, 500, 1.4)
    margin: 0

  p
    display: block
    @include mixins.font(14px, 500, 1.4)
    margin: 0
    max-height: 42px
    max-width: 100%
    overflow: hidden

  img
    margin-bottom: 20px