@use '../abstracts/variables'
@use '../abstracts/mixins'

.subscription
  background-color: variables.$text-color
  color: variables.$bg-color
  margin: 109px -100px 0
  padding: 50px 100px

  h2
    @include mixins.font(80px, 500, 1)
    margin: 0 0 30px

  p
    @include mixins.font(16px, 400, 1.4)
    max-width: 400px
    margin: 0 0 15px

  fieldset
    display: grid
    grid-template-columns: repeat(2, 400px)
    gap: 20px
    grid-auto-flow: row
    border: none
    padding: 0
    margin: 0 0 20px

    input
      border: 1px solid #00000066
      border-radius: 10px
      width: 400px
      height: 50px
      padding: 15px 17.5px
      font-size: 14px
      box-sizing: border-box
      font-family: inherit

  button
    background-color: transparent
    border: 1px solid #00000066
    border-radius: 10px
    width: 141px
    height: 50px
    transition: background-color ease-in .2s

  button:hover
    background-color: variables.$hover-color
    cursor: pointer