@use '../abstracts/variables'
@use '../abstracts/mixins'

.swiper-button-prev
  background-image: url('../images/slider/nav-buttons/slider-button-prev.svg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  background-color: transparent
  border: none
  width: 103px
  height: 40px
  cursor: pointer
  transition: background-image .3s ease

.swiper-button-prev:hover
  background-image: url('../images/slider/nav-buttons/arrow-hover.svg')
  transform: rotate(180deg)

.slide-text
  @include mixins.font(80px, 500, 1.06)
  margin: 0
  position: absolute
  top: 67%
  left: 4%
  letter-spacing: -0.03em

.swiper-button-next
  padding: 0
  background-image: url('../images/slider/nav-buttons/slider-button-next.svg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  background-color: transparent
  border: none
  width: 100px
  height: 40px
  cursor: pointer
  transition: all .3s ease

.swiper-button-next:hover
  background-image: url('../images/slider/nav-buttons/arrow-hover.svg')

.swiper-slide-main img
  border-radius: 6px

.swiper-wrapper
  max-width: 1240px !important
  max-height: 650px !important

.swiper-slide-main
  max-width: 100% !important

.swiper-slide img
  object-fit: contain

.swiper-nav-buttons
  width: 100%
  margin: 55px auto 0
  display: flex
  justify-content: center
  gap: 32px

.news-swiper
  display: none !important

.swiper-slide-news
  width: 400px !important
  p
    max-width: 400px
    margin: 0
  h3
    max-width: 400px
    margin: 0

@media screen and (max-width: variables.$breakpoint-xs)
  .news-swiper
    display: block !important
    width: 100%  !important
  .swiper-slide-news
    width: 200px !important
  .swiper-slide-news img
    object-fit: cover
    width: 200px
    height: 264px
  .swiper-slide-news h3
    display: block
  .swiper-slide-news p
    display: block
    width: 100%

  .swiper-main
    width: 100% !important
  .swiper-slide-main
    width: 290px !important
  .swiper-slide-main img
    object-fit: cover
    width: 290px
    height: 450px
  .slide-text
    @include mixins.font(40px, 500, 2.12)
    top: 40%
    left: 7%
  .swiper-nav-buttons
    margin: 20px auto 0
